#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #BEDFC2;
    overflow: hidden;
}

#wrapper #main-image {
    width: 1200px;
    height: 400px;
}
#wrapper #sec-image {
    float: right;
    width: 300px;
    height: 300px;
    margin: 50px 80px 30px 10px;
}
#wrapper .spec{
    float: left;
    margin: 10px 10px 10px 10px;

}


#wrapper  .commentary {
    float: left;
    width: 750px;
    margin: 20px 10px 30px 20px;
    border: 2px solid #408ca3;
}
#wrapper p{
    margin: 20px 10px 30px 20px;
}
#wrapper li{
    margin: 10px 10px 10px 10px;
}


#wrapper #page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #030304;
}
#wrapper #page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #92e5fe;
    text-align: center;
}
